<div class="about-content">
    <div class="about-text">
        {{#dados.paragrafos}}
        <p>{{.}}</p>
        {{/dados.paragrafos}}
    </div>
    <div class="about-image">
        <img src="{{dados.imagem.url}}" alt="{{dados.imagem.alt}}">
    </div>
</div> 