<div class="testimonial-grid">
    {{#dados}}
    <div class="testimonial-card">
        <p>"{{depoimento}}"</p>
        <div class="client-info">
            <img src="{{cliente.foto}}" alt="{{cliente.nome}}">
            <div>
                <div class="client-name">{{cliente.nome}}</div>
                <div class="client-position">{{cliente.cidade}}</div>
            </div>
        </div>
    </div>
    {{/dados}}
</div> 